@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype')
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1xlEA.ttf) format('truetype')
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z1xlEA.ttf) format('truetype')
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlEA.ttf) format('truetype')
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype')
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Mono Medium'), local('RobotoMono-Medium'), url(https://fonts.gstatic.com/s/robotomono/v5/L0xkDF4xlVMF-BfR8bXMIjC4iGqxf7o.ttf) format('truetype')
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v5/L0xkDF4xlVMF-BfR8bXMIjDwjmqxf7o.ttf) format('truetype')
}

#ensToast {
    z-index: 999999999999999999999999999999;
    position: fixed;
    top: 20px;
    background-color: #3C41FF;
    width: 20vw;
    height: auto;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-box-shadow: 0 2px 30px 0 rgba(0, 0, 60, 0.35), 0px 1px 3px 0 rgba(0, 0, 80, 0.32);
    box-shadow: 0 2px 30px 0 rgba(0, 0, 60, 0.35), 0px 1px 3px 0 rgba(0, 0, 80, 0.32);
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 0.45px;
    line-height: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: -240px
}
#ensToast video{
    margin-top: 5px;
    position: relative;
    width: 80%;
    height: 90%;
}


#ensToast2 {
    z-index: 999999999999999999999999999999;
    position: fixed;
    bottom: 20px;
    background-color: #FF3C41;
    width: 40vw;
    height: auto;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-box-shadow: 0 2px 30px 0 rgba(0, 0, 60, 0.35), 0px 1px 3px 0 rgba(0, 0, 80, 0.32);
    box-shadow: 0 2px 30px 0 rgba(0, 0, 60, 0.35), 0px 1px 3px 0 rgba(0, 0, 80, 0.32);
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 0.45px;
    line-height: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    right: -40vw;
}
#ensToast2 video{
    margin-top: 5px;
    position: relative;
    width: 80%;
    height: 90%;
}



@-webkit-keyframes trackerAnimation {
    0% {
        left: 0;
        opacity: 0
    }
    8% {
        opacity: 1
    }
    92% {
        opacity: 1
    }
    to {
        left: 100%;
        opacity: 0
    }
}

@keyframes trackerAnimation {
    0% {
        left: 0;
        opacity: 0
    }
    8% {
        opacity: 1
    }
    92% {
        opacity: 1
    }
    to {
        left: 100%;
        opacity: 0
    }
}

.ens-sidebar hr {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    height: 1px;
    background: transparent;
    background-color: transparent;
    margin: 5px 0 10px 0
}

.ens-btn {
    border: none;
    border-radius: 3px;
    padding: 1.5px 15px 0px 15px;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    font-family: 'Poppins', sans-serif;
    background-color: #3C41FF;
    background: #3C41FF;
    color: white;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    -webkit-transition: background-color 0.25s, -webkit-box-shadow 0.25s, -webkit-transform 0.1s!important;
    transition: background-color 0.25s, -webkit-box-shadow 0.25s, -webkit-transform 0.1s!important;
    -o-transition: box-shadow 0.25s, background-color 0.25s, transform 0.1s!important;
    transition: box-shadow 0.25s, background-color 0.25s, transform 0.1s!important;
    transition: box-shadow 0.25s, background-color 0.25s, transform 0.1s, -webkit-box-shadow 0.25s, -webkit-transform 0.1s!important;
    -webkit-box-shadow: 0 2px 30px 0 rgba(0, 0, 60, 0.045), 0px 1px 3px 0 rgba(0, 0, 80, 0.03);
    box-shadow: 0 2px 30px 0 rgba(0, 0, 60, 0.045), 0px 1px 3px 0 rgba(0, 0, 80, 0.03);
    font-size: 12.5px;
    font-weight: 500;
    letter-spacing: 0.35px;
    padding: 6px 12px
}

.ens-btn:hover {
    -webkit-transition: background-color 0.25s, -webkit-box-shadow 0.25s, -webkit-transform 0.1s!important;
    transition: background-color 0.25s, -webkit-box-shadow 0.25s, -webkit-transform 0.1s!important;
    -o-transition: box-shadow 0.25s, background-color 0.25s, transform 0.1s!important;
    transition: box-shadow 0.25s, background-color 0.25s, transform 0.1s!important;
    transition: box-shadow 0.25s, background-color 0.25s, transform 0.1s, -webkit-box-shadow 0.25s, -webkit-transform 0.1s!important
}

.ens-btn:hover:not(:disabled) {
    cursor: pointer;
    -webkit-transition: 0.125s;
    -o-transition: 0.125s;
    transition: 0.125s;
    color: white;
    background-color: #282dff;
    background: #282dff
}

.ens-btn.disabled,
.ens-btn:disabled {
    opacity: 0.45;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition: background-color 0.25s, -webkit-box-shadow 0.25s, -webkit-transform 0.1s!important;
    transition: background-color 0.25s, -webkit-box-shadow 0.25s, -webkit-transform 0.1s!important;
    -o-transition: box-shadow 0.25s, background-color 0.25s, transform 0.1s!important;
    transition: box-shadow 0.25s, background-color 0.25s, transform 0.1s!important;
    transition: box-shadow 0.25s, background-color 0.25s, transform 0.1s, -webkit-box-shadow 0.25s, -webkit-transform 0.1s!important
}

.ens-btn.disabled:hover,
.ens-btn:disabled:hover {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transform: none!important;
    -ms-transform: none!important;
    transform: none!important;
    cursor: default
}

.ens-btn:active {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.ens-btn.red {
    background: #FF3C41;
    background-color: #FF3C41
}

.ens-btn.red:hover:not(:disabled) {
    background: #ff282d;
    background-color: #ff282d
}

.ens-btn.green {
    background: #3CEEB4;
    background-color: #3CEEB4;
    color: #1B2057
}

.ens-btn.green:hover:not(:disabled) {
    color: #1B2057;
    background: #16eba6;
    background-color: #16eba6
}

.ens-btn.black {
    background: #1B2057;
    background-color: #1B2057
}

.ens-btn.black:hover:not(:disabled) {
    background: #161a47;
    background-color: #161a47
}

.ens-btn.full {
    width: 100%
}

.ens-btn.center {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.ens-sidebar,
.ens-timeline {
    z-index: 999999999
}

#closeKeyframes {
    color: rgba(255, 60, 65, 0.5);
    -webkit-transition: 0.125s;
    -o-transition: 0.125s;
    transition: 0.125s
}

#closeKeyframes:hover {
    cursor: pointer;
    color: #FF3C41;
    -webkit-transition: 0.125s;
    -o-transition: 0.125s;
    transition: 0.125s
}

.ens-element-picker {
    cursor: pointer;
    outline: 3px dashed #FF3C41;
    -webkit-transition: outline 0.075s;
    -o-transition: outline 0.075s;
    transition: outline 0.075s;
    background-color: rgba(60, 65, 255, 0.2)!important
}